<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Analyst/blob/main/Python_Functions_Ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to get the volume of a sphere with radius 6.

In [1]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

In [2]:
def sum_thrice(x, y, z):
     sum = x + y + z
     if x == y == z:
      sum = sum * 3
     return sum
print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

3. Write a Python program to count the number 4 in a given list.

In [9]:
def countX(lst, x):
    count = 0
    for n in lst:
        if (n == x):
            count = count + 1
    return count
lst = [1,4,6,8,4,9,4]
x = 4
print('{} has occurred {} times'.format(x, countX(lst, x)))

4 has occurred 3 times

4.Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.

In [12]:
n = [399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742
     , 717,958,743, 527]
for x in n:
    if x == 237:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

162
758
918
237

5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [16]:
no=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        no.append(str(x))
print (','.join(no))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6

In [17]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5

7. Write a Python program to get the Fibonacci series between 0 to 50.

In [18]:
a,b=0,1
while b<50:
    print(b)
    a,b = b,a+b

1
1
2
3
5
8
13
21
34

9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [19]:
def unique(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(unique([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]