<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Analyst/blob/main/Python_Assignments_Questions_List___Ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [1]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 3, 5, 7, 23
List :  ['3', ' 5', ' 7', ' 23']
Tuple :  ('3', ' 5', ' 7', ' 23')

2.Write a Python program to display the first and last colors from the following list.

In [2]:
color_list = ["Red","Green","White" ,"Black"]
print((color_list[0],color_list[-1]))

('Red', 'Black')

3. Write a Python program to print the even numbers from a given list.

In [3]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in list1:
  if num % 2 == 0:
      print(num, end = " ")

2 4 6 8